.faicon {
  margin-top: 5px !important;
  width: 40px;
  height: 40px;
}
.faenvelope {
  color: #ffc107;
}
.fausers {
  color: black;
}
.facheck {
  color: #198754;
}
.faenvelopeopen {
  color: #dc3545;
}
/*.main-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}*/
.card-outer {
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  background: #ffffff*/

  /*height: 130px;*/
  border-radius: 5px;
  background: #ffffff !important;
  box-shadow: 5px 5px 13px #ededed, -5px -5px -13px #ffffff;
}
.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-inner h2 {
  font-size: 20px;
}
.card-invite {
  /*display: flex !important;*/
  align-items: center;
  justify-content: space-between;
}
.invite {
  margin-top: 7px;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 239px) {
  .invite {
    float: left;
  }
}
@media only screen and (max-width: 181px) {
  .card-inner {
    display: block !important;

    /* height: 110px !important;*/
  }
}
/* .number {
    float: left !important;
    margin-bottom: -10px;
  }*/
